

body{
    font-family: IRANSansnormal, Tahoma !important;
    margin: 0;
    /* padding: 10px; */
}

.card{
    display: flex;
    border: 1px solid #00a693;
    background-color: #00a693;
    padding: 15px;
    border-radius: 4px;
    gap: 10px;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif;
    text-align: justify;
    width: 94vw;
    margin: 10px auto;
    justify-content: center;
}

.card-inside {
    line-height: 2;
    padding: 0.5rem;
    font-size: 1.2rem;
}


.image{
    height: 400px;
    width: auto;
    border-radius: 5px;
    background-size: cover;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.text {
    flex-direction: column;
}

.verse {
    display: flex;
    line-height: 2.6;
    width: 60%;
    justify-content: space-around;
}

.verse div {
    width: 30vw;
    text-align: center;
}

a {
    color: #b7e9f1;

}

a div {
    display: block;
    height: 2px;
    width: 0;
    background-color: #0e4e60;
    transition: 0.2s;
}
 a:hover div {
    width: 100%;

 }

a:hover {
    color: #606264;
}

a:active {
    color: #fcfcfc;
}

.card_text {
    line-height: 2.4;
    display: flex;
    border: 1px solid #00a693;
    background-color: #00a693;
    padding: 15px;
    border-radius: 4px;
    gap: 10px;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif;
    text-align: justify;
    width: 94vw;
    margin: 10px auto;
    justify-content: center;
    font-size: larger;
}

.link1 {
    line-height: 2.4;
    display: flex;
    border: 1px solid #00a693;
    background-color: #00a693;
    padding: 15px;
    border-radius: 4px;
    gap: 10px;
    align-items: center;
    color: #00574d;
    font-family: sans-serif;
    text-align: justify;
    width: 94vw;
    margin: 10px auto;
    justify-content: center;
    font-size: larger;
}

.titr {
    line-height: 2.4;
    display: flex;
    border: 1px solid #00a693;
    background-color: #00a693;
    padding: 15px;
    border-radius: 4px;
    gap: 10px;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif;
    text-align: justify;
    width: 94vw;
    margin: 10px auto;
    justify-content: center;
    font-size: larger;
}

.card {
    line-height: 2.4;
    display: flex;
    border: 1px solid #00a693;
    background-color: #00a693;
    padding: 15px;
    border-radius: 4px;
    gap: 10px;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif;
    text-align: justify;
    width: 94vw;
    margin: 10px auto;
    justify-content: center;
    font-size: large;
}

.link {
    line-height: 2.4;
    display: flex;
    border: 1px solid #00a693;
    background-color: #00a693;
    padding: 15px;
    border-radius: 4px;
    gap: 10px;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif;
    text-align: justify;
    width: 94vw;
    margin: 10px auto;
    justify-content: center;
    font-size: large;
}